<mat-card>
  <img [src]="event?.imageUrl" [alt]="event?.name" class="event-img">
  <div class="row">
    <div class="col-md-11">
      <h3>{{ (event | async)?.name}}</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div><strong>Start Date:</strong> {{ (event | async)?.startDate | date}}</div>
      <div><strong>End Date:</strong> {{ (event | async)?.endDate | date}}</div>
      <div><strong>Place:</strong> {{ (event | async)?.places}}</div>
      <div><strong>Price:</strong> ${{ (event | async)?.price}}</div>
    </div>
    <div class="col-md-6">
      <address>
        <strong>Address:</strong><br />
        {{ (event | async)?.location?.address}}<br />
        {{ (event | async)?.location?.city}}
      </address>
    </div>
  </div>  
 </mat-card>