
     <div fxLayout="column">
       <div fxFlex="20" fxFlex.xs="25">
        <header>
          <mat-toolbar color="primary">
              
          <div fxLayout="row" fxFlex="100" fxLayoutAlign.xs="end start">
              <div fxFlex="33">
                <span>TUKIO</span>
              </div>
           
           <div fxFlex="67" fxLayoutAlign="end start">
              <span> 
                <a mat-button routerLink="./home">Home</a>
                <a mat-button routerLink="./eventos" routerLinkActive="active"> Find Events</a>
                <a mat-button routerLink="./create">Create Events</a>
              </span>
      
         
              <span>
               <a mat-button *ngIf ="isAuth" routerLink="./user/login">LOGIN</a>
               <a mat-button *ngIf= "!isAuth" routerLink="./user/profile">WELCOME</a>
              </span>
          </div>


             </div>
           
             </mat-toolbar>
            </header>
       </div>
       <div  fxFlex="60">  
         <main>
          <router-outlet></router-outlet>
        </main></div>


       <div fxFlex="20"> 
         <footer class="page-footer" id="footer">
          <mat-toolbar color="primary" class="footer-section">
          <div fxLayout="column" fxLayoutAlign="center center" fxFlex="100%">
           <div fxFlex="100%" class="footer-icons">
            <a href="https://www.github.com/humphreymburu" target="_blank">
              <i class="fa fa-github fa-1x" aria-hidden="true"></i></a>
            <a href="https://www.facebook.com/humphreymburu" target="_blank">
              <i class="fa fa-facebook fa-1x" aria-hidden="true"></i></a>
            <a href="https://www.twitter.com/humphreymburu" target="_blank">
              <i class="fa fa-twitter fa-1x" aria-hidden="true"></i></a>
          </div>
    
           <div fxFlex="100%" class="copyright">
            <p>&#169; 2018 - Humphrey Mburu</p>
           </div>
           </div>
    
         </mat-toolbar>
         </footer></div>
     </div>