<h1>Create Your Event</h1>
    <hr>

    <div fxLayout="row">
        <div fxFlex="100" fxLayoutAlign="center center">
          
          <div fxLayout="column">
              <mat-card fxFlex="66.66%">




                  <mat-card-content>
                  <mat-card-header>
                  <mat-card-title><h2>Event Details</h2></mat-card-title>
                  </mat-card-header>
                  
                  
                  <form autocomplete="off" [formGroup]="eventForm" novalidate (ngSubmit)="saveProfile(eventForm.value)">
                  
                  <div fxLayout="column" fxLayoutAlign="space-between stretch">
                  
                  <div fxFlex="100">
                  <mat-form-field fxFill>
                  <input matInput  formControlName="name"  required id="name" type="text" placeholder="Name of your event" maxlength="75">
                  <mat-error *ngIf="eventForm.controls.name.hasError('required')">Event Name Required</mat-error>
                  <mat-error *ngIf="eventForm.controls.name.hasError('pattern')">Not Allowed</mat-error>
                  <mat-error *ngIf="eventForm.controls.name.hasError('maxLength')">Maximum  75 letters allowed </mat-error>
                  </mat-form-field>
                  
                      </div>
                  
                  <div fxFlex="100">
                  <mat-form-field fxFill>
                   <input matInput formControlName="places" name="places" required id="places" type="text" placeholder="Googe places"  maxlength="75">
                  <mat-error *ngIf="eventForm.controls.places.hasError('required')">Venue Required</mat-error>
                  <mat-error *ngIf="eventForm.controls.places.hasError('pattern')">Not Allowed</mat-error>
                  <mat-error *ngIf="eventForm.controls.places.hasError('maxLength')">Maximum  75 letters allowed </mat-error>
                  
                  </mat-form-field>
                  </div>
                  
                  
                  
                   <div fxLayout="row" fxLayoutWrap  fxLayoutAlign="start stretch">
                    <mat-form-field>
                    <input matInput [matDatepicker]="picker" placeholder="Start date" formControlName="startDate" name="startDate" required id="startDate">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker touchUi="true" #picker></mat-datepicker>
                  <mat-error *ngIf="eventForm.controls.startDate.hasError('pattern')">Not Allowed</mat-error>
                  <mat-error *ngIf="eventForm.controls.startDate.hasError('required')">Event Start Date Required</mat-error>
                  </mat-form-field>
                  
                  <mat-form-field fxFlexOffset="20px">
                    <input matInput [matDatepicker]="picker2" placeholder="End date" formControlName="endDate" name="endDate" required id="endDate">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker touchUi="true" #picker2></mat-datepicker>
                  <mat-error *ngIf="eventForm.controls.endDate.hasError('pattern')">Not Allowed</mat-error>
                  <mat-error *ngIf="eventForm.controls.endDate.hasError('required')">Event End Date Required</mat-error>
                  </mat-form-field>
                  
                  </div>
                  
                  
                  <mat-form-field>
                  <input matInput  formControlName ="price" name="price" id="eventPrice" type="number" placeholder="event price" maxlength="5">
                  <mat-error *ngIf="eventForm.controls.price.hasError('pattern')">Not Allowed</mat-error>
                  <mat-error *ngIf="eventForm.controls.price.hasError('maxLength')">Minimum amount 5 character allowed </mat-error>
                  
                  </mat-form-field>


                  
       
                      <mat-form-field class="example-full-width">
                          <input matInput formControlName="url" name="url" id="url" type="text" class="form-control" placeholder="url of image" maxlength="255" [ngModel]="url">
                        </mat-form-field>
              
                  
                  
                  


<div fxLayout="column">
    <mat-form-field fxFlex="30">
      <ngx-mat-file-input formControlName="requiredfile" placeholder="Required input" valuePlaceholder="No file selected" required (change)="startUpload($event.target.files)"></ngx-mat-file-input>
      <mat-icon matSuffix>folder</mat-icon>
      <mat-error *ngIf="eventForm.controls.requiredfile.hasError('required')">
        Please select a file
      </mat-error>
      <mat-error *ngIf="eventForm.controls.requiredfile.hasError('maxContentSize')">
        The total size must not exceed {{eventForm.get('requiredfile')?.getError('maxContentSize').maxSize | byteFormat}} ({{eventForm.get('requiredfile')?.getError('maxContentSize').actualSize
        | byteFormat}}).
      </mat-error>

    
              
           

     
    </mat-form-field>
<div fxFlex="20" class="spacer">
    <div *ngIf="percentage | async as pct">
          
        <progress class="progress is-info" 
                  [value]="pct" 
                  max="100">        
        </progress>
      
        {{ pct | number }}%
      
      </div>
      
      
      <div *ngIf="snapshot | async as snap">
        {{ snap.bytesTransferred | fileSize }} of {{ snap.totalBytes | fileSize }} 

       

        <button (click)="task.pause()" class="button is-warning" [disabled]="!isActive(snap)">Pause</button>
        <button (click)="task.cancel()" class="button is-danger" [disabled]="!isActive(snap)">Cancel</button>
        <button (click)="task.resume()" class="button is-info"   [disabled]="!(snap?.state === 'paused')">Resume</button>
      
    </div>
  </div>
  </div>      
                
             
                  <br/>
                  
                  <div fxLayout="row" fxLayoutWrap  fxLayoutAlign="start start">
                  <button mat-raised-button color="primary" type="submit">SAVE EVENT</button>
                  <button mat-raised-button color="accent" (click)="resetEverything()" fxFlexOffset="20px">Reset</button>
                  </div>
                  </div>




                  </form>
                  <p>Form value: {{ eventForm.value | json }}</p>

<p>{{url}}</p>

                  </mat-card-content>
                  </mat-card> 
          </div>
          
          </div>
        
    </div>


<div fxLayout="row" fxLayoutAlign="center center">

            
  
    





<br/>
<br/>
</div>
<br/>
<br/>