<h1>Create Your Event</h1>
    <hr>

<div fxLayout="row" fxLayoutAlign="center center">

            
            
<mat-card fxFlex="66.66%">

<mat-card-content>


<mat-card-header>
<mat-card-title><h2>Event Details</h2></mat-card-title>
</mat-card-header>


<form autocomplete="off" [formGroup]="eventForm" novalidate (ngSubmit)="saveProfile(eventForm.value)">

<div fxLayout="column" fxLayoutAlign="space-between stretch">

<div fxFlex="100">
<mat-form-field fxFill>
<input matInput  formControlName="name"  required id="name" type="text" placeholder="Name of your event" maxlength="75">
<mat-error *ngIf="eventForm.controls.name.hasError('required')">Event Name Required</mat-error>
<mat-error *ngIf="eventForm.controls.name.hasError('pattern')">Not Allowed</mat-error>
<mat-error *ngIf="eventForm.controls.name.hasError('maxLength')">Maximum  75 letters allowed </mat-error>
</mat-form-field>

    </div>

<div fxFlex="100">
<mat-form-field fxFill>
 <input matInput formControlName="places" name="places" required id="places" type="text" placeholder="Googe places"  maxlength="75">
<mat-error *ngIf="eventForm.controls.places.hasError('required')">Venue Required</mat-error>
<mat-error *ngIf="eventForm.controls.places.hasError('pattern')">Not Allowed</mat-error>
<mat-error *ngIf="eventForm.controls.places.hasError('maxLength')">Maximum  75 letters allowed </mat-error>

</mat-form-field>
</div>

<div formGroupName="location" fxLayout="row" fxLayoutWrap  fxLayoutAlign="start stretch">

    <mat-form-field>
      <input matInput formControlName="city" name="city" id="city" type="text" placeholder="City..." maxlength="55">
      <mat-error *ngIf="eventForm.controls.location.controls.city.hasError('required')">Venue Required</mat-error>
      <mat-error *ngIf="eventForm.controls.location.controls.city.hasError('pattern')">Not Allowed</mat-error>
      <mat-error *ngIf="eventForm.controls.location.controls.city.hasError('maxLength')">Maximum  55 letters allowed </mat-error>

    </mat-form-field>


    <mat-form-field fxFlexOffset="20px" fxFlex="50%">
    <input matInput formControlName="address" name="address" required id="address" placeholder="Address" type="text" maxlength="155">
    <mat-error *ngIf="eventForm.controls.location.controls.address.hasError('required')">Venue Required</mat-error>
    <mat-error *ngIf="eventForm.controls.location.controls.address.hasError('pattern')">Not Allowed</mat-error>
    <mat-error *ngIf="eventForm.controls.location.controls.address.hasError('maxLength')">Maximum  25 letters allowed </mat-error>
    </mat-form-field>

  </div>


 <div fxLayout="row" fxLayoutWrap  fxLayoutAlign="start stretch">
  <mat-form-field>
  <input matInput [matDatepicker]="picker" placeholder="Start date" formControlName="startDate" name="startDate" required id="startDate">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker touchUi="true" #picker></mat-datepicker>
<mat-error *ngIf="eventForm.controls.startDate.hasError('pattern')">Not Allowed</mat-error>
<mat-error *ngIf="eventForm.controls.startDate.hasError('required')">Event Start Date Required</mat-error>
</mat-form-field>

<mat-form-field fxFlexOffset="20px">
  <input matInput [matDatepicker]="picker2" placeholder="End date" formControlName="endDate" name="endDate" required id="endDate">
  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
  <mat-datepicker touchUi="true" #picker2></mat-datepicker>
<mat-error *ngIf="eventForm.controls.endDate.hasError('pattern')">Not Allowed</mat-error>
<mat-error *ngIf="eventForm.controls.endDate.hasError('required')">Event End Date Required</mat-error>
</mat-form-field>

</div>


<mat-form-field>
<input matInput  formControlName ="price" name="price" id="eventPrice" type="number" placeholder="event price" maxlength="5">
<mat-error *ngIf="eventForm.controls.price.hasError('pattern')">Not Allowed</mat-error>
<mat-error *ngIf="eventForm.controls.price.hasError('maxLength')">Minimum amount 5 character allowed </mat-error>

</mat-form-field>

<mat-form-field fxFill>
<input matInput formControlName="imageUrl" name="imageUrl" required id="imageUrl" type="text" class="form-control" placeholder="url of image" maxlength="255">
<mat-error *ngIf="eventForm.controls.imageUrl.hasError('pattern')">Not Allowed</mat-error>
<mat-error *ngIf="eventForm.controls.imageUrl.hasError('required')">Event Image Required</mat-error>
<mat-error *ngIf="eventForm.controls.imageUrl.hasError('maxLength')">Minimum amount 255 character allowed </mat-error>

</mat-form-field>


<br/>

<div fxLayout="row" fxLayoutWrap  fxLayoutAlign="start start">
<button mat-raised-button color="primary" type="submit">SAVE EVENT</button>
<button mat-raised-button color="accent" (click)="resetEverything()" fxFlexOffset="20px">Reset</button>
</div>
</div>
</form>
<p>Form value: {{ eventForm.value | json }}</p>
</mat-card-content>
</mat-card> 
<br/>
<br/>
</div>
<br/>
<br/>